//Portfolio Green & Blue
/*
@white: #F2F2F2;
@black: #1C344C;
@light: #C6E070;
@medium: #91C46C;
@dark: #287D7D;
*/

//Salmon Blue and Orange
@white: #FFF6E5;
@black: #3E454C;
@light: #FF7F66;
@medium: #7ECEFD;
@dark: #2185C5;

//autumn colors
/*
@white: #FFF59C;
@black: #27184C;
@light: #ED7777;
@medium: #F7C295;
@dark: #853969;
*/

//cyan
/*
@white: #D9D0C4;
@black: #696366;
@light: #19A291;
@medium: #6CC4AC;
@dark: #306A64;
*/

//cmyk
/*
@white: #F5F5F5;
@black: #242424;
@light: #E500BC;
@medium: #E3D100;
@dark: #00A7C9;
*/

