@import "colors";

*:not(input) {
  margin: 0;
  padding: 0;

  font-family: sans-serif;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  cursor: default;
}

html, body {
  height:100%;
}