@import "colors";

*:not(input) {
  margin: 0;
  padding: 0;

  font-family: sans-serif;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  cursor: default;
}

html, body {
  height:100%;
}

#header {
  background-color: @dark;
  color: @white;

  font-size: 2em;
  line-height: 1.5em;
  font-weight: bold;

  padding: 5px;
}

#availableExpenses {
  .subheader {
    background-color: @light;
    color: @black;
    padding: 5px;

    font-weight: bold;
    font-size: 1em;
    line-height: 1.8em;
  }

  .available {
    &:hover {
      background-color: @medium;
      color: @white;
    }
    .actionElement{
      width:30px;
      text-align: center;

      &:hover {
        background-color: @light;
        color: @white;
        cursor: pointer;
      }
    }
  }

  .spacer {
    background-color: @black;
  }
}

.listview {
  > div {
    &:nth-child(even){
      background-color: #e8e8e8;
    }
  }
}