<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Cache-control" content="no-cache">
    <script data-main="tests" src="../libs/require-jquery.js"></script>
    <link href="style/jasmine.css" type="text/css" rel="stylesheet"/>
</head>
<body class="layout horizontal">
<script type="text/x-handlebars">
    {{outlet main}}
</script>
</body>
</html>