<form>
    Username: <input type="text" name="user" ng-model="credentials.user" ng-pattern="word" required>
    Passwort: <input type="text" name="pass" ng-model="credentials.pass" ng-pattern="word" required>
    <button ng-click="logIn()">Login</button>
</form>